

<h2>Login!</h2>

<div class="container">
<div class="alert alert-warning" *ngIf = 'invalidLogin'> Bad Credentials..</div>


<div>
        <form class="form-inline">
            User Name :  <input class="form-control" type="text" name = "userName"  [(ngModel)] = "UserName" >
            <h1></h1>
            Password  :<input class="form-control" type="password" name = "password" [(ngModel)] = "Password">

        </form>
</div>



<!--User Name : {{defaultUserName}}-->

<button class="btn btn-success" (click)=handleLogin()> Login </button>
</div>