<div class ="container">
<h1 class ="text-center">My Todo's</h1>
</div>


<div class="container">

<table class = "table">
    
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>TargetDate</th>
            <th>Is Completed</th>
            <th>Action</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let todox of Todo">
        <td>{{todox.id}}</td>
        <td>{{todox.description}}</td>
        <td>{{todox.targetDate | date | uppercase}}</td>
        <td>{{todox.done}}</td>
        <td> <button (click) = updateTodoId(todox.id) class = "btn btn-success" > Update</button></td> 
        <td> <button  (click) = deleteTodo(todox.id) class = "btn btn-warning"> Delete</button></td> 
        </tr>
    </tbody>
</table>

</div>

<div class="container">
<div class="alert alert-success" *ngIf = 'message'> {{message}}</div>